   <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="social-icons d-flex  my-auto justify-content-lg-start justify-content-center">
                        <h2 class="mr-4">stay connected with us!</h2>
                      
                    </div>
                </div>
                <div class="col-lg-6 my-lg-auto mt-3">
                    <div class="cpy-right text-lg-right text-center">
                        <p class="text-secondary">© 2018 Eduline. All rights reserved | 
                            <a href="http://eduline.com.ng">Eduline.</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- //footer -->