     {{>_header}}

  <!-- banner -->
    <div class="inner-banner-w3ls text-right d-flex align-items-center">
        <div class="container">
            <h6 class="agileinfo-title">about us </h6>
            <ol class="breadcrumb-parent d-flex justify-content-end">
                <li class="breadcrumb-nav">
                    <a href="/">Home</a>
                </li>
                <li class="breadcrumb-nav active  text-capitalize" aria-current="page">About Us</li>
            </ol>
        </div>
    </div>
    <!-- //banner -->
    <!-- about -->
    <section class="wthree-row py-sm-5 py-3 about-top" id="ab-bot">
        <div class="container pt-lg-5">
            <div class="title-section pb-4">
                <h3 class="main-title-agile">about eduline</h3>
                <div class="title-line">
                </div>
            </div>
            <div class="agileits-top-row row py-md-5">
                <div class="col-lg-4 col-md-6">
                    <div class="agileits-about-grids">
                        <span class="fas fa-book-reader text-color1"></span>
                        <h4>university
                            <span></span>
                        </h4>
                        <p>Get latest university admission news, jamb, scholarships, entrance exminations
                         </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6  mb-lg-0 mb-4">
                    <div class="agileits-about-grids">
                        <span class="fas fa-graduation-cap text-color2"></span>
                         <h4>graduation
                            <span></span>
                        </h4>
                        <p>Get latest news and updates on graduations, convocations,
                        and other ceremonies.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mx-auto">
                    <div class="agileits-about-grids">
                        <span class="fas fa-bezier-curve text-color3"></span>
                        <h4>Connect
                            <span></span>
                        </h4>
                        <p>We make it easy for you to connect with the latest happenings in education
                            .</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
   
    <!-- //about -->
    <!-- flow_of_work -->
    <section id="flow_of_work" class="home-section py-lg-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="home-title main-title-agile text-center">Our work flow</h3>
                    <div class="row flow_of_work-line">
                        <div class="col-lg-3 col-sm-6">
                            <div class="flow_of_work-item bg1-theme">
                                <span class="text-color1">1</span>
                                <i class="fas fa-user-check"></i>
                                <h4>register</h4>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 mt-sm-0 mt-5">
                            <div class="flow_of_work-item bg2-theme">
                                <span class="text-color2">2</span>
                                <i class="fab fa-searchengin"></i>
                                <h4>find contents</h4>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 mt-lg-0 mt-5">
                            <div class="flow_of_work-item bg3-theme">
                                <span class="text-color3">3</span>
                                <i class="fas fa-list"></i>
                                <h4>set objectives</h4>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 mt-lg-0 mt-5">
                            <div class="flow_of_work-item bg4-theme">
                                <span class="text-color4">4</span>
                                <i class="fas fa-award"></i>
                                <h4>get it accomplished</h4>
                            </div>
                        </div>
                    </div>
                    <!-- flow_of_work-line -->
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </section>
    <!-- //flow_of_work -->
      {{>_footer}}