.btnsc{
    background:black;
    color: red;
    width:20em;
    box-shadow: 0px 2px 2px grey;
    font-weight: bold;
   
}

.btnsc:hover{
    background:white;
    color: black;
    width:20em;
    box-shadow: 0px 2px 2px grey;
    font-weight: bold;
}
#headText{
    color: red;
}
.btnse{
    background:red;
    color: white;
    border:red;
}

#searching{
    padding:20px
}
#ins{
    color: black;
    text-decoration: underline;
}
#contentsc{
    background: red;
      padding: 20px;
      color: white;
    }
    #deta{
        color: black;
    }
    #summary{
        background: ghostwhite;
    }
    .text{
       
        color: red;
        padding: 5px;
    }
    .text1{
        color: black;
       min-width: 150px;
        margin: auto;
        border: 1px solid grey;
    }
   

    #landing{
        background: ghostwhite;
        box-shadow: 0px 2px 2px grey;
        padding: 15px;
        
    }

    @media screen and (max-width: 768px){
        #sele{
        width:100x;
         max-width:100px;
        }
    }