{{>_header}}

<div class="container my-5">
    <h5>Message deivered successfully</h5>
    <br>
    <button onclick="goBack()">Go Back</button>

</div>




<script>
function goBack() {
  window.history.back();
}
</script>