{{>_adm_head}}

<div class="container my-4">
    <h5 class="">Are you sure you want to deactivate account ?</h5>
  
    <div class="container d-flex justify-content-between my-2">
          <a href="/delete/user/{{del.id}}" class=""><span class="badge badge-danger p-2"> <i class="fa fa-trash"></i> Deactivate account </span></a>
       
          <a href="/admin/users" class=""><span class="badge badge-primary p-2">Go back to users page </span></a>
       </div>

</div>

