{{>_header}}


<div class="container my-4">
    <h5 class="">Are you sure you want to deactivate account ?</h5>
  
    <div class="container d-flex justify-content-between my-2">
          <a href="/delete/user/{{user.id}}" class=""><span class="badge badge-danger p-2"> <i class="fa fa-trash"></i> Deactivate account </span></a>
       
          <a href="/profile" class=""><span class="badge badge-primary p-2">Go back to profile </span></a>
       </div>

</div>

