{{>_header}}

<div class="container my-4">
    <p>To continue your registration please take note that a one time <span class="text"> one thousand naira (#1,000) </span>service fee is payable in other to get full access to our portal.</p>
    <p> With the service fee you have access to apply for our scholarship for jambites and other available scholarships both local and </p>
    <p>international scholarships for free, and also have full access to all our contents.</p><br>
  <a href="https://paystack.com/pay/eduline" ><button type="submit" class="btn btn-agile btn-block w-100">Proceed to Subscribe <i class="fa fa-angle-double-right"></i></button></a>
 <br>
<h5 class="text-center"> <a href="/scholarship/details" >More information about jambites 2021 scholarship program</a></h5>
</div>

<style>
  .text{
    color: black;
    font-weight: bold;
  }
</style>



{{>_footer}}