{{>_header}}
<h5 class="text-center mt-4">Email Contacts</h5>
 {{#each contacts}}
<div class="container my-4 text-center" id="emailC">
    <p class="">Name</p>
    {{name}}
    <p class="">email</p>
      {{email}}
     <br>
    <a href="/contact/{{slug}}">more</a>
  
</div>
  {{/each}}


  <style>
      #emailC{
            border: 1px solid grey;
            width:300px;
      }
  </style>