{{>_header}}

<div class="container my-4 text-center">
    <p class="text-danger">Name</p>
    {{contact.name}}
     <p class="text-danger">Email</p>
    {{contact.email}}
    <p class="text-danger">Message</p>
    {{contact.messageBody}}
</div>

