{{>_header}}

<div class="container my-4">
    <h5>Eduline 2021 Jambites Scholarship Program</h5>
    <p>Education is the key to long term successes.
     We at Eduline believe that systematic change starts with education and self-awareness. Eduline through its scholarship program is poised to support the education of aspiring Nigerians, our scholarship targets only those who scored minimum of 200 and above in this year UTME.  
     This is a scholarship and financial aid geared at inspiring knowledge and attracting the brightest students all around the country. 
     Please submit your application packet to us on or before June 5th to be considered for this scholarship.</p>
      <br>
    <h5>Award:</h5>
       
<p>Scholars will receive monetary award</p>

  <br>
  <h5>Basic Eligibility:</h5>
     <p class="mb-1">Applicants must be:</p>
     <p>1. Registered member of this site</p>
     <p>2. Scored 200 and above in this year UTME</p>
     <br>
    <h5>Deadline:</h5>
    <p> June 5th 2021 by 12am</p>
</div>

{{>_footer}}