{{>_header}}

<div class="container my-4">
 <h5 class="text-danger">Hi, Guest</h5>
 <p>You are not eligible to apply for this scholarship. Please register your account or login to apply for <span class="text-dark">2021 jambites scholarship program</span>.</p>
 
 <span>
     <a href="/">Register account</a>
     |
      <a href="/login" class="">Login</a>
 </span>   
</div>

{{>_footer}}