{{>_header}}
{{>_msg}}
<div class="container my-4">
   <h5>Jambites 2021 Scholarship Program</h5>
    
    <p><span class="text-dark">Jambites 2021 scholarship program for jamb score of 200 and above</span>. Education is the key to long term successes.
     We at Eduline believe that systematic change starts with education and self-awareness. Eduline through its scholarship program is poised to support the education of aspiring Nigerians, our scholarship targets only those who scored minimum of 200 and above in this year UTME.  
     This is a scholarship and financial aid geared at inspiring knowledge and attracting the brightest students all around the country. 
     Please submit your application packet to us on or before September 5th to be considered for this scholarship.</p>
      <br>
     <a href="/post/jambites-2021-scholarship-program-now-open-for-application"><img class="" src="../images/jambites.jpeg" width="250px" heigh="250px"></a>
      <br>
      <br>
        <h5>Application:</h5>
     </p><a href="/scholarship/application/page" class="">Apply for this scholarship <i class="fa fa-angle-double-right"></i></a></p>

       <br>
    <h5>Award:</h5>
       
<p>Scholars will receive monetary award</p>

  <br>
  <h5>Basic Eligibility:</h5>
     <p class="mb-1">Applicants must be:</p>
     <p>1. Registered member of this site</p>
     <p>2. Scored 200 and above in this year UTME</p>
     <br>
    <h5>Deadline:</h5>
    <p> September 5th 2021 by 12am</p>
    <br>
    <h5 class="">Register Your Account To Be Eligible For This Scholarship</h5>
    <p>
       <a href="/user/register">Register Account <i class="fa fa-angle-double-right"></i></a> 

    <p>
</div>
                <div class="addthis_inline_share_toolbox"></div>
      <br>
      <!-- AddToAny BEGIN -->
<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
<a class="a2a_button_facebook"></a>
<a class="a2a_button_twitter"></a>
<a class="a2a_button_email"></a>
</div>
<script async src="https://static.addtoany.com/menu/page.js"></script>
<!-- AddToAny END -->
{{>_footer}}