{{>_header}}
{{>_msg}}

<div class="container my-4">
    <h5 class="">Hi! {{user.username}} your jambites scholarship application has been submitted successfully.</h5>
    <p class="">Continue visiting our portal as we continue to update you. </p>

</div>




